html
  head
    title=title
    include header.pug
  body
     include nav.pug
     .container
       h1.text-center.text-danger(style="margin-top:70px")
         .strong About Us
         .strong We Create Your Digital Just Think And Tell Us What You Need
         .h3.text-primary
           Building great products depends on great people. There are more than 40,000 Googlers behind the tools that you use every search to Chrome. Find   out more about what it’s like to work at Google, where we work and who drives our company
             strategy below

     .container
       .row
         .col-sm-12
           img.img-responsive.img-thumbnail(src="/images/about.jpg", width="800px", style="margin-left:150px")

     .container
        .row
          .col-sm-12
            h1.text-primary.text-center
                strong 1.Our Company's Vision & Philosophy
            p.text-success
              |You're not like everyone else -- so tell the world what makes you unique! Why should people choose you over your competitors? Stand out with an "About Us" page that shows off who your company is and strongly conveys your brand’s voice. What brought your company together? What doyou see as its future? Offer your visitors information that will make them interested in your business and the work that you do.
        .row
          .col-sm-12
            h1.text-primary.text-center
                strong 2.A Timeline of Our Company's History
            p.text-success
              |You're not like everyone else -- so tell the world what makes you unique! Why should people choose you over your competitors? Stand out with an "About Us" page that shows off who your company is and strongly conveys your brand’s voice. What brought your company together? What doyou see as its future? Offer your visitors information that will make them interested in your business and the work that you do.
        .row
          .col-sm-12
            h1.text-primary.text-center
                strong 3.Team Member Profiles
            p.text-success
              |You're not like everyone else -- so tell the world what makes you unique! Why should people choose you over your competitors? Stand out with an "About Us" page that shows off who your company is and strongly conveys your brand’s voice. What brought your company together? What doyou see as its future? Offer your visitors information that will make them interested in your business and the work that you do.

        .container(style='padding:20px')
           .row.jumbotron
             .col-sm-4
               p.text-center(style='font-size:40px')
                 | Cloud
                 span.glyphicon.glyphicon-cloud.gi-5x(style='align:center;font-size:80px')
             .col-sm-4
               p.text-center(style='font-size:40px')
                 | Security
                 span.glyphicon.glyphicon-briefcase.gi-5x(style='align:center;font-size:80px')
             .col-sm-4
               p.text-center(style='font-size:40px')
                 | Query
                 span.glyphicon.glyphicon-envelope.gi-5x(style='align:center;font-size:80px')

        .container
           .row
             .col-sm-4
               img.img-responsive.img-thumbnail(src="/images/men.jpg", style='width:400px')
             .col-sm-8
               h2.strong
                |We are happy to help you
               p
                 |Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum
             button(type='button', name='button')
                 a(href="/contact", style="text-decoration:none") Contact Us
