doctype html
html
  head
    title=title
    include header.pug
    style.
      .modal-header, h4, .close {
      background-color: grey;
      color:white !important;
      text-align: center;
      font-size: 30px;
      }
      .modal-footer {
      background-color: #f9f9f9;
      }
  body
    .container-fluid
      include nav.pug
    .container
      h2 Modal Login Example
      // Trigger the modal with a button
      #myBtn.btn.btn-primary.btn-block Login
      br
      br
      #myBtn2.btn.btn-success.btn-block Register


      // Modal
      #myModal.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header(style='padding:35px 50px;')
              button.close(type='button', data-dismiss='modal') ×
              h4
                span.glyphicon.glyphicon-lock
                |  Login
            .modal-body(style='padding:40px 50px;')
              form(role='form')
                .form-group
                  label(for='usrname')
                    span.glyphicon.glyphicon-user
                    |  Username
                  input#usrname.form-control(type='text', placeholder='Enter email')
                .form-group
                  label(for='psw')
                    span.glyphicon.glyphicon-eye-open
                    |  Password
                  input#psw.form-control(type='text', placeholder='Enter password')
                .checkbox
                  label
                    input(type='checkbox', value='', checked='')
                    | Remember me
                button.btn.btn-primary.btn-block(type='submit')
                  span.glyphicon.glyphicon-off
                  |  Login
            .modal-footer
              button.btn.btn-danger.btn-default.pull-left(type='submit', data-dismiss='modal')
                span.glyphicon.glyphicon-remove
                |  Cancel
              p
                | Not a member?
                a(href='#') Sign Up
              p
                | Forgot
                a(href='#') Password?


      #myModal2.modal.fade(role='dialog')
        .modal-dialog
          // Modal content
          .modal-content
            .modal-header(style='padding:35px 50px;')
              button.close(type='button', data-dismiss='modal') ×
              h4
                span.glyphicon.glyphicon-lock
                |  Register
            .modal-body(style='padding:40px 50px;')
              form(role='form')
                .form-group
                  label(for='name')
                    span.glyphicon.glyphicon-user
                    |  Name
                  input#name.form-control(type='text', placeholder='Enter name')
                .form-group
                  label(for='email')
                    span.glyphicon.glyphicon-user
                    |  Username
                  input#email.form-control(type='email', placeholder='Enter email')
                .form-group
                  label(for='psw')
                    span.glyphicon.glyphicon-eye-open
                    |  Password
                  input#psw.form-control(type='password', placeholder='Enter password')
                .form-group
                  label(for='Cpsw')
                    span.glyphicon.glyphicon-eye-open
                    |  Confirm Password
                  input#Cpsw.form-control(type='password', placeholder='Enter re-password')

                button.btn.btn-success.btn-block(type='submit')
                  span.glyphicon.glyphicon-off
                  |  Login
            .modal-footer
              button.btn.btn-danger.btn-default.pull-left(type='submit', data-dismiss='modal')
                span.glyphicon.glyphicon-remove
                |  Cancel

    script.
      $(document).ready(function(){
      $("#myBtn").click(function(){
      $("#myModal").modal();
      });
      });
      $(document).ready(function(){
      $("#myBtn2").click(function(){
      $("#myModal2").modal();
      });
      });
