doctype html
html(lang='en')
  head
   title=title
   include header.pug
   style(media='screen').
    #example1{
    background-image: url(images/background.jpg);
    background-position: left top;
    background-repeat:  repeat;
    padding: 15px;
    }
    .abc{
    font-size: 20px;
    }
  body
    include nav.pug

    #example1.container(style='margin-top:80px')
      .row
        .col-sm-2
          h3(style='color:white') Price!

    .container(style='padding:10px')
      #oldNews1.row
        .col-sm-4
          .panel.panel-warning
            #example1.panel-heading.abc(style='color:white')
              | MOBILE APPLICATION
              br
              | INR 19,999/- & Above
            .panel-body.bg-success
              p
                | Application Description. 4 TO 5 Pages
                br
                |                       1 MB to 30 MB or Above…
                br
                |                       Android,Windows And IOS
                br
                |                       Any Platform OS
                br
                |                       Minimum 512 MB RAM Required
        .col-sm-4
          .panel.panel-warning
            #example1.panel-heading.abc(style='color:white')
              | MICROSOFT ASP.NET
              br
              | INR 35,999/- & Above
            .panel-body.bg-success
              p
                | Application Description. 4 TO 5 Pages
                br
                |                         1 MB to 30 MB or Above…
                br
                |                         CakePHP Framework , CodeIgniter Framework (CI),
                br
                |                         Any Platform OS
                br
                |                         Minimum 512 MB RAM Required
        .col-sm-4
          .panel.panel-warning
            #example1.panel-heading.abc(style='color:white')
              | LAMP
              br
              | INR 9,999/- & Above
            .panel-body.bg-success
              p
                | Application Description. 4 TO 5 Pages
                br
                |                           1 MB to 30 MB or Above…
                br
                |                           Android,Windows And IOS
                br
                |                           Any Platform OS
                br
                |                           Minimum 512 MB RAM Required
    .container(style='padding:10px')
      #oldNews1.row
        .col-sm-4
          .panel.panel-warning
            #example1.panel-heading.abc(style='color:white')
              | WEBSITE DESIGING
              br
              | INR 40,999/- & Above
            .panel-body.bg-success
              p
                | Application Description. 4 TO 5 Pages
                br
                |                       1 MB to 30 MB or Above…
                br
                |                       Android,Windows And IOS
                br
                |                       Any Platform OS
                br
                |                       Minimum 512 MB RAM Required
        .col-sm-4
          .panel.panel-warning
            #example1.panel-heading.abc(style='color:white')
              | DIGITAL MARKETING
              br
              | INR 11,999/- & Above
            .panel-body.bg-success
              p
                | Application Description. 4 TO 5 Pages
                br
                |                         1 MB to 30 MB or Above…
                br
                |                         CakePHP Framework , CodeIgniter Framework (CI),
                br
                |                         Any Platform OS
                br
                |                         Minimum 512 MB RAM Required
        .col-sm-4
          .panel.panel-warning
            #example1.panel-heading.abc(style='color:white')
              | E-COMMERCE
              br
              | INR 29,999/- & Above
            .panel-body.bg-success
              p
                | Application Description. 4 TO 5 Pages
                br
                |                           1 MB to 30 MB or Above…
                br
                |                           Android,Windows And IOS
                br
                |                           Any Platform OS
                br
                |                           Minimum 512 MB RAM Required
